<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="trainerApp">
<head>
    <title>Music Sheet Trainer</title>
    <script src="//ocanvas.org/source/ocanvas-2.8.4.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//pc035860.github.io/angular-easyfb/angular-easyfb.min.js"></script>
    <script src="//cdn.backand.net/backand/dist/1.8.2/backand.min.js"></script>
    <script src="MusicSheet.js"></script>
    <script src="trainerApp.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <style>
        .keyboard {
            border: 3px solid #BBBBBB;
            margin: 15px;
            padding: 15px;
            display: inline;
        }

            .keyboard:hover {
                background-color: #BBBBBB;
            }
    </style>
</head>
<body>
    <div ng-controller="mainController">
        <div id="login">
            <div>
                <button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">Conectar ao Facebook</button>
                &nbsp;
                <button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'">Sair</button>
                &nbsp;
                <button class="btn btn-success" ng-click="share()">Compartilhar</button>
            </div>
        </div>
        <div id="pre_test" ng-show="isCurrentStep('pre_test')">
            <br /><br />
            <button class="btn btn-primary" ng-click="startTest()">Iniciar!</button>
        </div>
        <div id="test" ng-show="isCurrentStep('test')">
            <canvas id="canvas" width="800" height="500"></canvas>
            <br />
            <button class="keyboard" ng-click="checkNote('0')">[1] Dó</button>
            <button class="keyboard" ng-click="checkNote('1')">[2] Ré</button>
            <button class="keyboard" ng-click="checkNote('2')">[3] Mi</button>
            <button class="keyboard" ng-click="checkNote('3')">[4] Fá</button>
            <button class="keyboard" ng-click="checkNote('4')">[5] Sol</button>
            <button class="keyboard" ng-click="checkNote('5')">[6] Lá</button>
            <button class="keyboard" ng-click="checkNote('6')">[7] Si</button>
        </div>
        <div id="result" ng-show="isCurrentStep('result')">
            <h1>Resultado</h1>
            Acertos: <span>{{ testResult.correct }}</span>
            <br />
            Erros: <span>{{ testResult.error }}</span>
            <br />
            Tempo: <span>{{ testResult.timeTaken }}</span>
            <br />
            <button class="btn btn-primary" ng-click="startTest()" ng-hide="isLastTest">{{ testResultButtonValue }}</button>
        </div>
    </div>
</body>
</html>

