<div ng-keyup="keyPressed($event)">
    <h2>{{ allTests[currentLevel].name }}</h2>
    <canvas id="canvas" width="800" height="300"></canvas>
    <br />
    <button class="keyboard" ng-click="checkNote('0')">[1] Dó</button>
    <button class="keyboard" ng-click="checkNote('1')">[2] Ré</button>
    <button class="keyboard" ng-click="checkNote('2')">[3] Mi</button>
    <button class="keyboard" ng-click="checkNote('3')">[4] Fá</button>
    <button class="keyboard" ng-click="checkNote('4')">[5] Sol</button>
    <button class="keyboard" ng-click="checkNote('5')">[6] Lá</button>
    <button class="keyboard" ng-click="checkNote('6')">[7] Si</button>
</div>